//-create.pug
extend ../../layout/layout.pug
block main-content
    div(class='main w-5/6 bg-orange-100')
        -if(messages.error){
                div(class='error bg-red-500 text-white text-center')= messages.error
        -}
        form(action="/admin/type/create", method="post", enctype="multipart/form-data") 
            input(type="text", name="name", placeholder="name type")
            br
            br
            textarea(name="description" placeholder="description")
            br
            br
            label(for="Thumbnail") Thumbnail
            input(type="file", name="thumbnail" id="Thumbnail")
            div(id='preview')
            br
            br
            input(type="number", name="position", placeholder="position")
            br
            br
            label(for="active") Active
            input(type="radio", name="status", value="active" id="active")
            label(for="inactive") Inactive
            input(type="radio", name="status", value="inactive" id="inactive")
            br
            br
            - var print_node_and_search = (symbo, cur_node)=>{
                option(value=cur_node._id)= symbo + cur_node.name
                //- search child of curr_node
                -for(var i = 0; i < dataTypes.length; i++){
                    //- Duyệt từ đầu nếu gặp node có parent_id = id node hiện tại
                    -if(cur_node._id == dataTypes[i].parent_id){
                        //- Thì in node đó ra và search tiếp con của node đó
                        -print_node_and_search(symbo + '*', dataTypes[i])
                    -}
                -}
            -}


            select(name="parent_id")
                option(value="" hidden)= "Chọn parent_id"
                option(value="root")= "Items này làm root"
                -for(var i = 0; i< dataTypes.length; i++){
                    -if(dataTypes[i].parent_id == "root"){
                        -print_node_and_search('*', dataTypes[i]);
                    -}
                -}
            br
            br
            input(type="submit", value="Add Type" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded")
    script(src="/js/server/preview.js")