//- pages/home/index.js
extend ../../layout/layout1.pug

block main_1 
    p this is home page
    //- img(src="D:/EKR22/public/img/server/anh-nen-4k-anime-1.jpg", alt="none") Sai
    //- img(src="/public/img/server/anh-nen-4k-anime-1.jpg", alt="none") Sai
    img(src="/img/server/anh-nen-4k-anime-1.jpg", alt="none")
    //- img(src="http://localhost:3000/home/img/server/anh-nen-4k-anime-1.jpg", alt="none") sai
    img(src="http://localhost:3000/img/server/anh-nen-4k-anime-1.jpg", alt="none")
    img(src="img/server/anh-nen-4k-anime-1.jpg", alt="none")